<div class="project-boxes jsGridView" data-projects-target="index">
  <% @projects.each do |project| %>
    <%= link_to project_path(project) do %>
        <div class="project-box-wrapper">
          <div class="project-box">
            <div class="project-box-header">
              <span><%= project.start_at.strftime('%B %d, %Y') %></span>
            </div>
            <div class="project-box-content-header">
              <p class="box-content-header"><%= project.name %></p>
              <p class="box-content-subheader"><%= project.current_step_name %></p>
            </div>
            <div class="box-progress-wrapper">
              <div class="d-flex justify-content-between">
                <p class="box-progress-header">Progress</p>
                <p class="box-progress-percentage"><%= project.progress %>%</p>
              </div>
              <div class="box-progress-bar">
                <span class="box-progress <%= project.set_progress_bar_color %>" style="width: <%= project.progress %>%; "></span>
              </div>
            </div>
            <div class="project-box-footer">
              <%= link_to(project_steps_path(project), class: "testing") do %>
                <div class="participants">
                    <% project.users.each do |user| %>
                      <%= cl_image_tag user.photo.key %>
                    <% end %>
                    <i class="fa-solid fa-plus add-user"></i>
                </div>
              <% end %>
              <div class="days-left">
                <%= (project.end_at - Date.today).to_i %> days left
              </div>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
