<div class="app-header">
<div class="app-header-left">
  <%= link_to("/", class: "d-flex text-decoration-none") do %>
    <img src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654263937/logo-violet_cavevn.png" alt="" class="avatar">
    <h1 class="app-name">Flipeasy</h1>
  <% end %>
    <% if current_page?(controller: 'projects', action: 'index') %>
      <div class="d-flex search-wrapper">
        <%= form_tag projects_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "search-wrapper",
            placeholder: "Search"
          %>
        <% end %>
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    <% end %>
</div>
<div class="app-header-right">
<ul class="navbar-nav me-auto">
  <li class="nav-item dropdown">
    <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
    </div>
  </li>
</ul>
</div>
</div>
