<div class="project-show__documents">
  <div class="d-flex justify-content-end">
   <%= link_to "Show all", "", data: {action: "click->doc-highlight#showAll"}, class: "simple-link"%>
  </div>
  <div class="quick-facts-docs d-flex justify-content-between">
  </div>
  <% @project.documents.order(:id).each do |document| %>
    <div id="doc-<%= document.id %>" class="box-doc doc-list d-flex justify-content-around align-items-center mb-2 pt-2" data-doc-highlight-target="doc" data-doc-name="<%= document.name %>">
      <p class="flex-grow-1 header-documents m-1"> <%= document.name %></p>
      <i class ="fa-solid fa-comment-medical"></i>
      <div class="">
        <div class="dropdown" data-controller="document" data-document-doc-id-value="<%= document.id %>">
          <button class="btn btn-secondary-doc btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" data-document-target="status" aria-expanded="false">
            <%= document.status %>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <%= button_tag "Done", data: {action: "click->document#changeStatus", new_status: "Done", document_target:"btn"}, class: "btn-status dropdown-item" %>
            </li>
            <li>
              <%= button_tag "Review pending", data: {action:"click->document#changeStatus", new_status: "Review Pending"}, class: "btn-status dropdown-item" %>
            </li>
            <li>
              <%= button_tag "Drafting", data: {action:"click->document#changeStatus" , new_status: "Drafting"}, class: "btn-status dropdown-item" %>
            </li>
            <li>
              <%= button_tag "No Draft", data: {action:"click->document#changeStatus" , new_status: "No Draft"}, class: "btn-status dropdown-item" %>
            </li>
          </ul>
        </div>
      </div>
      <button type="button" class="btn btn-dark d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#docModalLong">Open</button>
    </div>
  <% end %>
</div>

<!-- MODAL See each documents-->
<div class="modal fade modal-doc" id="docModalLong" tabindex="-1" role="dialog" aria-labelledby="docModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="docModalLongTitle">PDF Doc</h5>
      </div>
      <div class="modal-body">
        <embed src="http://www.africau.edu/images/default/sample.pdf" type="" frameborder="0" width="460" height="800px">
        <%# <embed src="https://res.cloudinary.com/dsc1uchot/image/upload/v1654692308/production/exmpl-doc_fir4jt.png" type="" height="500" width="400"> %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary-doc" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
