<div class="project-show__manage-tasks tab-content" id="nav-tabContent">
    <div class="name-project-show">Your Tasks Manager</div>
      <% @project.steps.each_with_index do |step, index| %>
          <% if index == 0 %>
              <div class="tab-pane fade show active" id="nav-<%= step.name.split.last%>" role="tabpanel" aria-labelledby="nav-<%= step.name.split.last%>-tab">

          <% else %>
              <div class="tab-pane fade" id="nav-<%= step.name.split.last%>" role="tabpanel" aria-labelledby="nav-<%= step.name.split.last%>-tab">

          <% end %>
              <div>
              <% step.tasks.each do |task| %>
                <p data-action="click->doc-highlight#setActive" data-documents="<%= CreateStepsAndTasksForProject::STEPS_AND_TASKS[task.step.name][:documents].to_json %>">
                  <%= task.name %>
                </p>

              <% end %>

              </div>
              </div>
        <% end %>
</div>
