<div class="project-show__steps">
  <nav>
    <div class = "container-step d-flex">
      <div class="nav nav-tabs w-100 justify-content-center" id="nav-tab" role="tablist">

        <% @project.steps.each_with_index do |step, index| %>
          <% if index == 0 %>
            <div class="project-cards-steps nav-link active <%= "completed" if step.completed? %>" id="nav-<%= step.name.split.last%>-tab" data-bs-toggle="tab" data-bs-target="#nav-<%= step.name.split.last%>" role="tab" aria-controls="nav-<%= step.name.split.last%>" aria-selected="true">
          <% else %>
            <div class="project-cards-steps nav-link <%= "completed" if step.completed? %>" id="nav-<%= step.name.split.last%>-tab" data-bs-toggle="tab" data-bs-target="#nav-<%= step.name.split.last%>" role="tab" aria-controls="nav-<%= step.name.split.first%>" aria-selected="true">
          <% end %>

        <i class="<%= CreateStepsAndTasksForProject::STEPS_AND_TASKS[step.name][:icon] %>"></i>
        <p><%= step.name %></p>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
</div>
