<div class="project-show__manage-tasks">
    <div class="name-project-show">Your Tasks Manager</div>
    <%# <div class = "container-tasks">
      <% @project.tasks.each do |task| %>
        <%# <div class="<%= CreateStepsAndTasksForProject::STEPS_AND_TASKS[:tasks]"></div> %>
        <%# <p><%= task.name %>
      <%# </div>
    <% end %>
    <%# </div> %>

<%# <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div> %>

</div>
<div class="project-show__manage-tasks">
    <div class="name-project-show">Your Tasks Manager</div>
    <%# <div class = "container-tasks">
      <% @project.tasks.each do |task| %>
        <%# <div class="<%= CreateStepsAndTasksForProject::STEPS_AND_TASKS[:tasks]"></div> %>
        <%# <p><%= task.name %>
      <%# </div>
    <% end %>
    <%# </div> %>
</div>

<div class="project-show__manage-tasks">
    <div class="name-project-show">Your Tasks Manager</div>
    <%# <div class = "container-tasks">
      <% @project.tasks.each do |task| %>
        <%# <div class="<%= CreateStepsAndTasksForProject::STEPS_AND_TASKS[:tasks]"></div> %>
        <%# <p><%= task.name %>
      <%# </div>
    <% end %>
    <%# </div> %>
</div>
<div class="project-show__manage-tasks">
    <div class="name-project-show">Your Tasks Manager</div>
    <%# <div class = "container-tasks">
      <% @project.tasks.each do |task| %>
        <%# <div class="<%= CreateStepsAndTasksForProject::STEPS_AND_TASKS[:tasks]"></div> %>
        <%# <p><%= task.name %>
      <%# </div>
    <% end %>
    <%# </div> %>
</div>
<div class="project-show__manage-tasks">
    <div class="name-project-show">Your Tasks Manager</div>
    <%# <div class = "container-tasks">
      <% @project.tasks.each do |task| %>
        <%# <div class="<%= CreateStepsAndTasksForProject::STEPS_AND_TASKS[:tasks]"></div> %>
        <%# <p><%= task.name %>
      <%# </div>
    <% end %>
    <%# </div> %>
</div>
<div class="project-show__manage-tasks">
    <div class="name-project-show">Your Tasks Manager</div>
    <%# <div class = "container-tasks">
      <% @project.tasks.each do |task| %>
        <%# <div class="<%= CreateStepsAndTasksForProject::STEPS_AND_TASKS[:tasks]"></div> %>
        <%# <p><%= task.name %>
      <%# </div>
    <% end %>
    <%# </div> %>
</div>
<div class="project-show__manage-tasks">
    <div class="name-project-show">Your Tasks Manager</div>
    <%# <div class = "container-tasks">
      <% @project.tasks.each do |task| %>
        <%# <div class="<%= CreateStepsAndTasksForProject::STEPS_AND_TASKS[:tasks]"></div> %>
        <%# <p><%= task.name %>
      <%# </div>
    <% end %>
    <%# </div> %>
</div>
