<div class="app-container">
  <div class="app-header">
    <div class="app-header-left">
      <%# <span class="app-icon"></span> %>
      <%= link_to("/", class: "d-flex text-decoration-none") do %>
        <img src="../assets/logo-violet.png" alt="" class="app-logo">
        <h1 class="app-name">Flipeasy</h1>
      <% end %>
      <div>

        <%= form_tag projects_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "search-wrapper",
            placeholder: "  Search"
          %>
        <% end %>
      </div>
    </div>
    <div class="app-header-right">
    <ul class="navbar-nav me-auto">
      <li class="nav-item dropdown">
        <%= image_tag(current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <!-- <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %> -->
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
    </div>
  </div>
  <div class="app-content">
    <div class="app-sidebar">
      <%= link_to(new_project_path, class: 'app-sidebar-link active') do %>
          <i class="fa-solid fa-house"></i>
      <% end %>
      <%= link_to(new_project_path, class: 'app-sidebar-link') do %>
          <i class="fa-solid fa-plus"></i>
      <% end %>
      <%= link_to(new_project_path, class: 'app-sidebar-link') do %>
          <i class="fa-solid fa-calendar"></i>
      <% end %>
      <%= link_to(new_project_path, class: 'app-sidebar-link') do %>
          <i class="fa-solid fa-moon"></i>
      <% end %>
    </div>
    <div class="projects-section">
      <div class="projects-section-header">
        <p>Projects</p>
        <p class="time"><%= Time.now.strftime('%B %d, %Y') %></p>
      </div>
      <div class="projects-section-line">
        <div class="projects-status">
          <div class="item-status">
            <span class="status-number"><%= Project.where(progress: "in progress").count %></span>
            <span class="status-type">In Progress</span>
          </div>
          <div class="item-status">
            <span class="status-number"><%= Project.count %></span>
            <span class="status-type">Total Projects</span>
          </div>
        </div>
        <div class="view-actions">
          <button class="view-btn list-view" title="List View">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
              <line x1="8" y1="6" x2="21" y2="6" />
              <line x1="8" y1="12" x2="21" y2="12" />
              <line x1="8" y1="18" x2="21" y2="18" />
              <line x1="3" y1="6" x2="3.01" y2="6" />
              <line x1="3" y1="12" x2="3.01" y2="12" />
              <line x1="3" y1="18" x2="3.01" y2="18" /></svg>
          </button>
          <button class="view-btn grid-view active" title="Grid View">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
              <rect x="3" y="3" width="7" height="7" />
              <rect x="14" y="3" width="7" height="7" />
              <rect x="14" y="14" width="7" height="7" />
              <rect x="3" y="14" width="7" height="7" /></svg>
          </button>
        </div>
      </div>

    <%= render "shared/list" %>

  </div>
</div>
<div class="messages-section">
  <button class="messages-close">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
      <circle cx="12" cy="12" r="10" />
      <line x1="15" y1="9" x2="9" y2="15" />
      <line x1="9" y1="9" x2="15" y2="15" /></svg>
  </button>
  <div class="projects-section-header">
    <p>Notifications</p>
  </div>
  <div class="messages">
    <div class="message-box">
      <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80" alt="profile image">
      <div class="message-content">
        <div class="message-header">
          <div class="name">Project X</div>
        </div>
        <p class="message-line">
          The validation has been sent to the client.
        </p>
        <p class="message-line time">
          Dec, 12
        </p>
      </div>
    </div>
    <div class="message-box">
      <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80" alt="profile image">
      <div class="message-content">
        <div class="message-header">
          <div class="name">Project Y</div>
        </div>
        <p class="message-line">
          Project Y has completed its flip.
        </p>
        <p class="message-line time">
          Dec, 12
        </p>
      </div>
    </div>
    <div class="message-box">
      <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80" alt="profile image">
      <div class="message-content">
        <div class="message-header">
          <div class="name">Project X</div>
        </div>
        <p class="message-line">
          The validation has been sent to the client.
        </p>
        <p class="message-line time">
          Dec, 12
        </p>
      </div>
    </div>
    <div class="message-box">
      <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80" alt="profile image">
      <div class="message-content">
        <div class="message-header">
          <div class="name">Project X</div>
        </div>
        <p class="message-line">
          The validation has been sent to the client.
        </p>
        <p class="message-line time">
          Dec, 12
        </p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
