<%= render "shared/navbar_projects" %>
<div class="app-content">
  <div class = "container mt-3 new-form" style = "width: 500px">
    <%= simple_form_for @project do |f| %>
      <div class="form-inputs">
        <%= f.input :name %>
        <div class="d-flex justify-content-between">
          <%= f.input :company_name %>
          <%= f.input :company_email %>
        </div>
        <div>
          <%= f.input :company_landing_page %>
        </div>
        <div>
          <%= f.input :photo, :label => "Logo" %>
        </div>
        <div class="d-flex">
          <%= f.input :start_at, as: :string, input_html: {data: { controller: 'flatpickr' }}, wrapper_html: { class: "flex-grow-1"} %>
          <%= f.input :duration, collection: Project::DURATION, include_hidden: false, selected: @project.duration || 21, wrapper_html: { class: "flex-grow-1 ml-3"} %>
        </div>
        <div class="form-actions d-flex justify-content-between align-items-end ">
          <%= f.submit 'Next Step', class: 'btn-black '  %>
          <%= link_to 'Back to Projects', projects_path, class: 'simple-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
