<%= render "shared/navbar_projects" %>
 <!-- content header-->
<div class="app-content">
  <%= render "shared/sidebar" %>
  <div class="project-show">
    <div class="project-show__header">
      <%# <%= render "" %>
    </div>
    <div class="project-show__steps">
      <%= render "shared/project_show_steps" %>
    </div>
    <div class="project-show__selected-step">
      <%# <%= render "" %>
    </div>
    
    <div class="project-show__company-info">
      <%= render "shared/company_info" %>
    </div>

    <!-- company info -->
      <%= render "shared/company_info" %>

    <div class="project-show__documents">
      <%# <%= render "" %>
    </div>
  </div>
</div>
