<% content_for :meta_title, "#{@project.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# content_for :meta_description, @project.description %>
<%# content_for :meta_image, cl_image_path(@offer.photo.path) %>

<!-- navbar-->
  <%= render "shared/navbar_projects" %>
  <div class="app-content">
    <%= render "shared/sidebar" %>
      <div class="project-show" data-controller="doc-highlight project-nav-tabs">
        <!-- steps cards -->
          <%= render "shared/project_show_steps" %>
        <!-- tasks manager -->
          <%= render "shared/project_show_manage_tasks" %>

          <%= render "shared/project_show_team" %>

        <!-- company info -->
          <div class="project-show__infos-docs">
            <%= render "shared/company_info" %>
          <!-- documents manager -->
            <%= render "shared/project_show_documents" %>
          </div>
      </div>
       <!-- your team members -->

  </div>
