<%= render "shared/navbar_projects" %>
<div class = "app-content" data-controller="drag" >
  <%= render "shared/sidebar" %>
  <div class = "messages-section index">
      <div class = "projects-section-header">
        <p>Steps</p>
        <span>Assigned Lawyer</span>
      </div>
      <div class = "messages" >
      <% @project.steps.order(:id).each do |step| %>
        <div class="message-box d-flex justify-content-between" >
          <div><%= step.name %></div>
          <div class="drop-area">
            <div class="team-drop" data-drag-target="step" data-step-id="<%= step.id %>">
              <div class="test">
                <% if step.user && step.user.photo.attached? %>
                    <%= cl_image_tag step.user.photo.key, class: "avatar bigpic", height: 100, width: 100,  :crop=>"fill" %>
                <% else %>
                    <%= image_tag("https://res.cloudinary.com/dsc1uchot/image/upload/v1654248567/avatar-300x300_qr58cy.jpg", class: "avatar bigpic") %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
  </div>
  <div class = "messages-section index">
      <div class = "projects-section-header">
        <p>Team Members</p>
      </div>
      <div class = "messages">
        <div class="message-box teams">
          <% @users.each do |user| %>
            <div class="team-member"  >
              <div class="test" data-drag-target="people", data-user-id="<%= user.id %>">
                <%= cl_image_tag(user.photo.key, class: "avatar bigpic", height: 100, width: 100,  :crop=>"fill", draggable: false) %>
              </div>
              <p><%= user.first_name %></p>
              <span class="font-weight-light font-italic"><%= user.role %></span>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
<%= link_to 'Submit', projects_path(@project), class: 'btn-black btn-team mb-5' %>
